name: ci

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  fast:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: dtolnay/rust-toolchain@631a55b12751854ce901bb631d5902ceb48146f7
      - name: cargo fmt --check
        run: cargo fmt --all -- --check
      - name: cargo test
        run: cargo test
      - name: muc fmt readable fixtures check
        run: |
          cargo run -- fmt --check examples
          cargo run -- fmt --check tests/fixtures/parser
          cargo run -- fmt --check tests/equiv/readable
      - name: muc fmt compressed fixtures check
        run: |
          cargo run -- fmt --mode=compressed --check tests/fixtures/compressed
          cargo run -- fmt --mode=compressed --check tests/equiv/compressed
